$col_orange: #fb4f14;
$col_blue: #03256c;
$backgroundimg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(253,640,276)'%3E%3Cstop offset='0' stop-color='%23140b5b'/%3E%3Cstop offset='1' stop-color='%233837a0'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E";

/*Layout*/
.container {
  user-select: none;
  display: grid;
  grid-template-columns: 190px auto;
  grid-template-rows: 65px auto 40px;
  grid-template-areas:
    "sidebar nav"
    "sidebar content"
    "sidebar footer";
  background-color: #e9ebee;
}
.sidebar {
  display: grid;
  grid-template-areas: "icon" "navmenu";
  grid-template-rows: 65px auto;
  grid-area: sidebar;
  background-color: #fff;
  font-size: 22px;
  font-weight: 400;
  box-shadow: 0 0 8px #ccc;
}
.sidebar button {
  font-size: 22px;
  font-weight: 400;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}
.sidebar button:hover {
  cursor: pointer;
}
.nav {
  display: grid;
  grid-template-areas: "space user";
  grid-area: nav;
  background-color: #140b5b;
  grid-template-columns: auto 200px;
  border: solid 1px black;
  background-image: url($backgroundimg);
  background-attachment: fixed;
  background-size: cover;
}
.title {
  padding: 10px;
  padding-left: 30px;
  color: white;
  font-size: 24px;
}
.content {
  grid-area: content;
  background-color: #e9ebee;
  min-height: calc(100vh - 100px);
  padding: 20px;
}
.footer {
  grid-area: footer;
  background-color: #140b5b;
  border: solid 1px black;
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.user {
  grid-area: user;
  border: solid 1px black;
}
.side_icon {
  grid-area: icon;
  background-color: #fff;
  box-shadow: 0 0 8px #555;
  text-align: center;
}
.sidenav {
  grid-area: navmenu;
  background-color: #fff;
  //border-right: black solid 1px;
  box-shadow: 2px 0px 0px #55555514;
  z-index: 1;
  font-size: 18px;
}
.menu_item {
  display: flex;
  padding: 10px;
  align-items: center;
}
.menu_item label {
  margin-left: 5px;
  margin-right: 5px;
}
.menu_item label:hover {
  cursor: pointer;
}
.menu_item:hover {
  cursor: pointer;
  color: $col_orange;
}
.menu_item_active {
  border-left: $col_orange solid 4px;
}

/* Dropdown system*/
.dpdwn_container {
  display: none;
}

.dropdown_item_1rem {
  display: flex;
  align-items: center;
  text-indent: 1rem;
  padding: 10px;
}
.dropdown_item_1rem label {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  top: -5px;
}
.dropdown_item_1rem label:hover {
  color: $col_orange;
  cursor: pointer;
}
.dropdown_item_1rem:hover {
  cursor: pointer;
  color: $col_orange;
}
/**/
.dropdown_item_2rem {
  text-indent: 2rem;
  padding: 5px;
}
.dropdown_item_2rem label {
  margin-left: 5px;
  margin-right: 5px;
}
.dropdown_item_2rem label:hover {
  color: $col_orange;
  cursor: pointer;
}
.dropdown_item_2rem:hover {
  cursor: pointer;
  color: $col_orange;
}
.sidebtn {
  display: grid;
  grid-template-columns: 20px auto;
  grid-template-areas: "svg text";
}
.sidebtn_svg {
  grid-area: svg;
}
.sidebtn_text {
  grid-area: text;
}
